# environment variables
/DEPLOYMENT.md
/appreviewer.md
/Instructions to publish on app store.md
/ADS_INTEGRATION_PLAN.md
server/.env
server/.env.local
server/.env.*local
frontend/.env
frontend/.env.local
frontend/.env.*local
.claude/
/mockups
/appreviewer.md
/screenshots