/* IMPORT TAILWIND BASE FILE */ @import "tailwindcss";

/* Custom root styles */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light;
  background-color: #f9fafb; /* Use a light gray instead of dark for app */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}